.image {
    height: 60vh;
    background-position: center;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    border-radius: 5px;
    color: white;
}

@media screen and (max-width:768px) {
    .image {
        height: 50vh;
    }
}